html
{
    height: 100%;
    margin: 0 auto;
}

body 
{
    font-size: 13pt;
    padding-left: 8px;
    padding-right: 8px;
    
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f8ff;
    padding-bottom: 70px; /* for footer */

    background: linear-gradient(to bottom right, #F2CA2C, #CCA43E);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top-padding
{
    height: 100px;
}

.subtitle
{
    font-style: italic;
}

.emoji
{
    font-size: 20px;
}

.copy-button-container
{
    background-size: cover;
    background-position: center;
    background-image: url('spiral_oval_teal_25a.png');
    padding: 999px;
    margin: -999px; /* allow background image to exceed div bounds */
    background-size: 2200px;
    background-repeat: no-repeat;
}

#copy-button
{
    font-size: 36px;
    color: #f8f9fa;
    background-color: #1D809F;
}

#switch-button
{
    color: #fafdff;
    background-color: #343741;
}

#success-notification {
    font-family: "Noto Color Emoji","Apple Color Emoji","Segoe UI Emoji","Arial Unicode MS","Arial Unicode",Times,Symbola,Aegyptus,Code2000,Code2001,Code2002,Musica,serif;
    font-size: 24px;
    display: none;
    min-width: 150px;
    margin-left: -75px; /* half of min-width */
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 40px;
    z-index: 2000; /* Above the footer */
}

.centered
{
    text-align: center;
}

.constrain-width
{
    max-width: 900px;
    margin: 0 auto;
}

legend
{
    font-variant: small-caps;
}
